<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Trip Scheduling</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="stations" class="nav-link">Stations</a>
      </li>

      <li class="nav-item" >
        <div *ngIf="adminLoggedIn">
          <a routerLink="add/station" class="nav-link" >Add - Station</a>
        </div>

      </li>

      <li class="nav-item">
        <a routerLink="trips" class="nav-link">Trips</a>
      </li>


      <li class="nav-item" >
        <div *ngIf="adminLoggedIn">
          <a routerLink="add/trip" class="nav-link" >Add - Trips</a>
        </div>

      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
